MONGODB_CONNECTION_STRING = mongodb://localhost:27017/
DOC_PATH = ./data/sample_documents.json
DB_NAME = qa_system
COLLECTION_NAME = stats
OPENAI_MODEL_NAME = gpt-4o-mini
OPENAI_API_KEY = <YOUR OPENAI API KEY HERE>
USER_QUERY_2_MONGO_QUERY_PARSING_PROMPT_TEMPLATE = ./prompts/user_query_2_mongo_query_parser_prompt_template.txt
MONGO_RESULT_2_NL_RESPONSE_PROMPT_TEMPLATE = ./prompts/mongo_result_2_nl_response_parsing_prompt_template.txt
